@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Catamaran-black';
  src: url("../fonts/catamaran-black.eot");
  src: local("☺"), url("../fonts/catamaran-black.woff") format("woff"), url("../fonts/catamaran-black.ttf") format("truetype"), url("../fonts/catamaran-black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Catamaran-bold';
  src: url("../fonts/catamaran-bold.eot");
  src: local("☺"), url("../fonts/catamaran-bold.woff") format("woff"), url("../fonts/catamaran-bold.ttf") format("truetype"), url("../fonts/catamaran-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Light';
  src: url("../fonts/Muli-Light.eot");
  src: local("☺"), url("../fonts/Muli-Light.woff") format("woff"), url("../fonts/Muli-Light.ttf") format("truetype"), url("../fonts/Muli-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-Bold';
  src: url("../fonts/Muli-Bold.eot");
  src: local("☺"), url("../fonts/Muli-Bold.woff") format("woff"), url("../fonts/Muli-Bold.ttf") format("truetype"), url("../fonts/Muli-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-regular';
  src: url("../fonts/muli-regular.eot");
  src: local("☺"), url("../fonts/muli-regular.woff") format("woff"), url("../fonts/muli-regular.ttf") format("truetype"), url("../fonts/muli-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 18px;
  line-height: 32px;
  color: #2b2b2b;
  font-family: "Muli-Light";
  margin: 0;
}

.container {
  max-width: 1700px;
  padding: 0 10px;
  margin: 0 auto;
}

.container__gallery {
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Catamaran-black";
  color: #2b2b2b;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 90px;
  letter-spacing: 0.6px;
}

.button {
  border-radius: 10px;
  background-color: #ff690f;
  font-family: "Catamaran-bold";
  text-transform: uppercase;
  color: #ffffff;
}

.header {
  background-image: url(../images/header2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header-img {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 200px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.header__title {
  text-transform: uppercase;
  margin-bottom: 144px;
  text-align: center;
  font-family: "Catamaran-black";
}

.header__title-p {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #81aac9;
}

.header__title-title {
  line-height: 210px;
  font-size: 250px;
  font-weight: 700;
  letter-spacing: -12.5px;
  white-space: nowrap;
  margin-top: 50px;
  background: radial-gradient(circle, #4a88c1 0%, #63aacc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__content {
  padding-left: 210px;
  color: #ffffff;
  padding-bottom: 345px;
  padding-left: 210px;
}

.header__content--text {
  font-family: "Muli-regular";
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 55px;
  max-width: 680px;
}

.header__content--btn {
  font-size: 18px;
  padding: 14px 88px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  margin: 0;
}

.menu__item {
  font-family: "Muli-Bold";
  color: #ffffff;
  font-size: 16px;
  line-height: 90px;
  letter-spacing: 0.16px;
}

.menu__item + .menu__item {
  padding-left: 40px;
}

.offer__title {
  padding-top: 55px;
  padding-left: 585px;
}

.offer__text {
  padding-left: 340px;
  max-width: 1295px;
  text-align: center;
  padding-bottom: 70px;
}

.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
  padding-left: 300px;
  padding-right: 290px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.offer__item {
  text-align: center;
}

.offer__item-text {
  font-size: 14px;
  margin-top: 41px;
  margin-bottom: 19px;
}

.offer__item-title {
  font-family: "Catamaran-black";
  font-size: 24px;
  line-height: auto;
  margin: 0;
  margin-bottom: 30px;
}

.offer__item-btn {
  font-size: 15px;
  padding: 17px 23px 17px 21px;
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 155px;
  max-width: 1940px;
}

.gallery__items-img {
  margin: 0;
  padding: 0;
  max-width: 640px;
}

.gallery__items-img:nth-child(3), .gallery__items-img:nth-child(4) {
  grid-row: span 2;
}

.crew__content-title {
  padding-left: 590px;
  margin-bottom: 60px;
}

.crew__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 210px;
  padding-right: 210px;
  margin-bottom: 165px;
}

.crew__item-position {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}

.crew__item-name {
  font-family: "Catamaran-black";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
