*, 
*::after,
*::before{
    box-sizing: border-box;
}
@font-face {
	font-family: 'Catamaran-black';
	src: url('../fonts/catamaran-black.eot');
	src: local('☺'), url('../fonts/catamaran-black.woff') format('woff'), url('../fonts/catamaran-black.ttf') format('truetype'), url('../fonts/catamaran-black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Catamaran-bold';
	src: url('../fonts/catamaran-bold.eot');
	src: local('☺'), url('../fonts/catamaran-bold.woff') format('woff'), url('../fonts/catamaran-bold.ttf') format('truetype'), url('../fonts/catamaran-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli-Light';
	src: url('../fonts/Muli-Light.eot');
	src: local('☺'), url('../fonts/Muli-Light.woff') format('woff'), url('../fonts/Muli-Light.ttf') format('truetype'), url('../fonts/Muli-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli-Bold';
	src: url('../fonts/Muli-Bold.eot');
	src: local('☺'), url('../fonts/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold.ttf') format('truetype'), url('../fonts/Muli-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli-regular';
	src: url('../fonts/muli-regular.eot');
	src: local('☺'), url('../fonts/muli-regular.woff') format('woff'), url('../fonts/muli-regular.ttf') format('truetype'), url('../fonts/muli-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




$font-text-p: 'Muli-Light';
$font-text-header: 'Muli-regular'; 
$font-menu: 'Muli-Bold';
$font-title: 'Catamaran-black';
$font-button: 'Catamaran-bold';
$color: #2b2b2b;
$color2: #ffffff;
$color-button: #ff690f;
$slider-button: #d1d8df;
$background: #f7f7f7;


body{
    font-size: 18px;
    line-height: 32px;
    color: $color;
    font-family: $font-text-p;
    margin: 0;

}
.container {
    max-width: 1700px;
    padding: 0 10px;
    margin: 0 auto;
}

.container__gallery{
    max-width: 1900px;
    padding: 0 10px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.title {
    font-family: $font-title;
    color: $color;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.6px;
    text-align: center;
    margin: 0 auto;
}

.button{
    border-radius: 10px;
    background-color: $color-button;
    font-family: $font-button;
    text-transform: uppercase;
    color: $color2;
}

//ХЕДЕР

.header {
    position: relative;
    background-image: url(../images/header2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    &__mountains {
      position: absolute;
      left: 0px;
      bottom: -3px;
      width: 100%;
      z-index: 98;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    &__title {
        text-transform: uppercase;      
        margin-bottom: 144px;
        text-align: center;
        font-family: "Catamaran-black";
        
        &-p{
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 1.5px;
            color: #81aac9;
            
        }
        &-title{
            line-height: 210px;
            font-size: 250px;
            font-weight: 700;
            letter-spacing: -12.5px;
            white-space: nowrap;
            margin-top: 50px;
            background: radial-gradient(circle, rgba(74,136,193,1) 0%, rgba(99,170,204,1) 50%); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;  
                
        }
    }
    &__content {        
        color: $color2;
        padding-bottom: 345px;
        position: relative;
        overflow: hidden;
    }
    &__content-aside{
        padding-left: 210px;
        position: relative;
        z-index: 101;
    }
    &__content--text {
        font-family: $font-text-header;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 55px;
        max-width: 680px;
    }
    &__content--btn {
        font-size: 18px;
        padding: 14px 88px;        
        
    }
    &__content-img{
        position: absolute;
        z-index: 99;
        right: -110px;
        bottom: 35px;

    }
}

.logo {
    &__img {
    }
}
.menu {
    &__list {
        display: flex;
        padding-top: 29px;
        margin: 0;
    }
    &__item {
        font-family: $font-menu;
        color: $color2;
        font-size: 16px;
        letter-spacing: 0.16px;

    }
    &__item + &__item{
        padding-left: 40px;
    }
    &__link {}
}



// офер

.offer {
    background-color: $background;
    &__title{
        padding-top: 55px;
        
        max-width: 530px;
    }
    &__text {
        margin: 0 auto;
        max-width: 960px;
        text-align: center;
        padding-bottom: 70px;
    }
    &__items {
        display: flex;
        justify-content: space-around;
        padding: 0 135px 160px 135px;
        align-items: flex-end;
        
    }
    &__item {
        text-align: center;        
    }

    &__item + &__item{
    
    }
    

    &__item-img {}
    &__item-text {
        font-size: 14px;
        margin-top: 41px;
        margin-bottom: 19px;
    }
    &__item-title {
        font-family: $font-title;
        font-size: 24px;
        line-height: auto;
        margin: 0;
        margin-bottom: 30px;
        
    }
    &__item-btn {
        font-size: 15px;
        padding: 17px 23px 17px 21px;
        
    }
}

//ГАЛЕРЕЯ

.gallery {
    background-color: $background;
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0;
        align-items: stretch;
        justify-items: stretch;
        justify-content: center;
        max-width: 1940px;
        
        
    }
    &__items-img {
        margin: 0;
        padding: 0;
        max-width: 100%;
        
    }
    &__items-img:nth-child(3),
    &__items-img:nth-child(4){
        grid-row: span 2; 
    }   
}


// GREW

.crew {
    background-color: $background;
    &__content-title{
        padding-top: 155px;
        
        margin-bottom: 60px;

    }
    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 1260px;
        margin: 0 auto;
        padding-bottom: 165px;
    }
    &__item {}
    &__item-position {
        font-size: 14px;
        padding-top: 25px;
        padding-bottom: 10px;
        text-align: center;
    }
    &__item-name {
        font-family: $font-title;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
}


//

.about {
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    &__content {
        padding-top: 225px;
        padding-left: 210px;
    }
    &__content-title {        
        max-width: 750px;  
        margin-bottom: 50px;   
        text-align: left;
        margin: 0;   
    }
    &__content-text {
        max-width: 835px;
        margin: 0;
        margin-bottom: 30px;
        
    }
    &__content-items {
        display: flex;
        justify-content: space-between;
        max-width: 750px;
        padding-top: 70px;
        padding-bottom: 305px;
    }
    &__content-item {

    }
    &__content-count {
        color: $color-button;
        font-size: 60px;
        font-family: $font-title;
        font-weight: 700;
        margin: 0;
        margin-bottom: 20px;
    }
    &__content-info{
        font-weight: 700;

    }
}


// слайдер

.testimonials {
    background-color: $background;

    &__title{
        padding-top: 160px;
        
        
    }
    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style: none;
            margin: 0 9px;
        }        
        button{
            font-size: 0;
            width: 13px;
            height: 13px;
            background-color: $slider-button;
            border-radius: 50%;
            border: none;
        }
        li.slick-active button{
            background-color: $color-button;
        }
    }
    &__slider{
        padding-top: 60px;
        
        max-width: 830px;
        text-align: center;
        padding-bottom: 160px;
        margin: 0 auto;
    }
    &__content-element {}
    &__content-img {
        display:block;
        margin:auto;
    }
    &__content-title {
        text-transform: uppercase  ;
        font-size: 18px;
        font-weight: 900;
        font-family: $font-title;
    }
    &__content-text {}
}

//
.map {
	width: 1200px;
	
	
}
[class*="copyrights-pane"] {
	display: none !important;
}

.contacts {
    background-color: #2f2f2f;
    color: $color2;
    &__items {
        display: flex;
        justify-content: space-between;
        
        max-width: 1780px;
        padding: 0 0 0 10px;
        margin: 0 0 0 auto;
    }
    &__content {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    &__content-title {
        color: $color2;
        text-align: left;
    }
    &__content-list {
        list-style: none;
        margin: 0;
        padding-left: 0;
        padding-top: 55px;
        max-width: 340px;
        text-transform: uppercase;
    }
    &__content-item {
        padding-bottom: 35px;
    }
}

.contacts-social {
    padding-bottom: 155px;
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-top: 65px;
        padding: 0;
        max-width: 155px;
        align-items: center;
        padding-top: 30px;
    }
    &__item {}
    &__link {
        
    }
}


@media (max-width: 1455px) {
    .about__content-text {
        max-width: 750px;
    }
}


@media (max-width: 1260px) {
    .header__title-title{
        line-height: 160px;
        font-size: 200px;
    }
    .header__title-p {
        font-size: 25px;
    }
    .menu__item + .menu__item {
        padding-left: 30px;
    }
    .header__content-aside {
        padding-left: 100px;
    }    
    .header__content-img{
        bottom: -35px;
    }
    .crew__items {
        max-width: 1050px;
    }
    .about__content-text {
        max-width: 620px;
    }
    .about__content-items {
        max-width: 615px;
    }
    .about__content {
        padding-top: 200px;
        padding-left: 190px;
    }
}



@media (max-width: 1035px) {
    .crew__items {
        flex-wrap: wrap;
        max-width: 810px;
    }
    .crew__item{
        padding-bottom: 35px;
    }
    
}

@media (max-width: 992px) {
    .header__title-title{
        line-height: 140px;
        font-size: 170px;
    }
    .header__title-title {
        margin-top: 20px;
    }
    .header__title-p {
        font-size: 25px;
    }
    .menu__item + .menu__item {
        padding-left: 20px;
    }
    .header__content-aside {
        padding-left: 30px;
    }    
    .header__content-img{
        bottom: -45px;
    }
    .header__content--btn {
        padding: 11px 57px;
    }
    .offer__items {
        flex-wrap: wrap;
        padding-bottom: 50px;
        
    }
    .offer__item {
        padding-bottom: 100px;
    }   
    .about__content {
        padding-top: 150px;
        padding-left: 75px;
    }     
}

.menu__btn{
    width: 40px;    
    background-color: transparent;
    padding: 15px 0;
    position: relative;
    border: 0;
    display: none;
    &::after,
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        background-color: $color-button;
    }
    &::after{
        bottom: 0;
    }
    &::before{
        top: 0;
    }
    span{
        display: block;
        height: 4px;
        background-color: $color-button;
        color: $color-button;
    }
    
}

@media (max-width: 830px) {
    .menu__list{
        position: absolute;
        left: 30%;
        right: 10%;
        display: block;
        background-color: $color;
        padding: 0;       
        z-index: 110;
        top: -1000px;
        transition: all .5s;        
        &:hover{
            border: none;
        }

        &.menu__list--active{
            top: 30px;
        }
    }
    .menu{
        &__btn{
            display: block;
            margin-right: 10px;
            z-index: 115;
        }
        &__item + &__item{
            padding-left: 0;
        }
        &__link{
            padding: 20px 0;
            display: block;
            text-align: center;    
        }
        
    }

    .header__content-img {
        right: -165px;
    ;
    }
    
    .header__title-p {
        font-size: 20px;
    }

    .header__title-title {
        line-height: 130px;
        font-size: 150px;
    }

    .header__content-aside {
        padding-left: 15px;
    }

    .header__content--btn {
        padding: 10px 30px;
    }
    .title {
        font-size: 55px;
    }
    body {
        font-size: 17px;
    }
    .gallery__items {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__items-img:nth-child(7) {
        display: none;
    }

}


@media (max-width: 770px) {
    .header__title-p {
        font-size: 15px;
    }
    .header__title-title {
        line-height: 110px;
        font-size: 130px;
    }
    .header__content--text {
        font-size: 22px;
    }
    .header__content-img {
        right: -265px;
    }
    .header__content-img {
        right: -300px;
        width: -webkit-fill-available;
    }
    .header__title {
        margin-bottom: 120px;
    }
    body {
        font-size: 17px;
    }
    .crew__items {
        max-width: 530px;
    }
    .about__content {
        padding-top: 90px;
        padding-left: 40px;
    }
    

}

@media (max-width: 600px) {
    .header__title-title {
        line-height: 90px;
        font-size: 100px;
    }
    .header__title {
        margin-bottom: 0;
    }
    .header__content-aside {
        padding-left: 5px;
    }
    .header__content--text {
        font-size: 20px;
    }
    .header__content--text {
        margin-bottom: 39px;
    }
    .header__content--btn {
        padding: 5px 22px;
        font-size: 15px;
    }    
    .title {
        font-size: 48px;
    }
    body {
        font-size: 16px;
    }
    .gallery__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    } 
    .about__content-items {
        flex-wrap: wrap;
    }  
    .contacts__items {
        flex-wrap: wrap;
    }
    .contacts__content {
        margin: 0 auto;
    } 

}
@media (max-width: 516px) {
    .crew__items {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .header__title-title {
        line-height: 70px;
        font-size: 85px;
    }
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    body {
        font-size: 15px;
    }
    .offer__item-text {
        margin-top: 0;
    }
    .offer__item-title {
        font-size: 20px;
    }
    .gallery__items{
        display: none;
    }
    .about__content {
        padding-top: 60px;
        padding-left: 15px;
    }

}


@media (max-width: 360px) {
    .header__title-p {
        font-size: 10px;
    }
    .header__title-title {
        line-height: 60px;
        font-size: 70px;
        margin-bottom: 29px;
        margin-top: 0;

    }
    .header__content--text {
        font-size: 18px;
    }
    .header__content {
        color: #ffffff;
        padding-bottom: 185px;
    }

}


